
> CREATE TABLE `transactions` (
    `id` int(20) NOT NULL,
    `user_id` int(11) DEFAULT NULL,
    `bank_name` varchar(50) DEFAULT NULL,
    `account_number` varchar(20) DEFAULT NULL,
    `amount_in` decimal(15,2) DEFAULT NULL,
    `transaction_content` text DEFAULT NULL,
    `transaction_date` datetime DEFAULT NULL,
    `reference_number` varchar(50) DEFAULT NULL,
    `sepay_id` varchar(64) DEFAULT NULL,
    `bank_brand_name` varchar(100) DEFAULT NULL,
    `amount_out` decimal(14,2) DEFAULT NULL,
    `accumulated` decimal(14,2) DEFAULT NULL,
    `code` varchar(100) DEFAULT NULL,
    `sub_account` varchar(100) DEFAULT NULL,
    `bank_account_id` varchar(64) DEFAULT NULL
  ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
  
  --
  -- Äang Ä‘á»• dá»¯ liá»‡u cho báº£ng `transactions`
  --
  
  
  -- --------------------------------------------------------
  
  --
  -- Cáº¥u trĂºc báº£ng cho báº£ng `vaitro`
  --
  
  CREATE TABLE `vaitro` (
    `VaiTroID` int(11) NOT NULL,
    `TenVaiTro` varchar(100) NOT NULL,
    `MoTa` text DEFAULT NULL
  ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
  
  --
  -- Äang Ä‘á»• dá»¯ liá»‡u cho báº£ng `vaitro`
  --
  
  INSERT INTO `vaitro` (`VaiTroID`, `TenVaiTro`, `MoTa`) VALUES
  (1, 'nhanvien', 'nhĂ¢n viĂªn há»‡ thá»‘ng');
  
  -- --------------------------------------------------------
  
  --
  -- Cáº¥u trĂºc báº£ng cho báº£ng `vi`
  --
  


